[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
textual-fspicker = "*"

[dev-packages]
pylint = "*"
mypy = "*"
twine = "*"
types-pygments = "*"
build = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.11"
